<%-include("./composants/header") %>

<% if (locals.flash && locals.flash.success) { %>
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 5000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: "<%=flash.success %>"
        });
    </script>
<% } %>

<div class="facture-container">
    <h2 class="facture-title"><i class="fa fa-file-alt"></i> Détail de la Facture</h2>
    
    <a href="/paiement.index" class="btn-retour"><i class="fas fa-arrow-left"></i> Retour </a>
    <button class="btn btn-gris print-btn" data-id="<%=facture.id %>" data-facture="<%=facture.numFacture %>"><i class="fa fa-print fa-fw"></i> Imprimer</button>
                                    
    <div class="facture-section">
        <h3>Facture</h3>
        <table class="facture-table">
            <tr>
                <th>Numéro</th>
                <td><%= facture.numFacture %></td>
            </tr>
            <tr>
                <th>Moyen de Paiement</th>
                <td><%= facture.moyenPaiement %></td>
            </tr>
            <tr>
                <th>Montant</th>
                <td><%= facture.montant %> FCFA</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td><%= facture.motif %></td>
            </tr>
            <tr>
                <th>Date Incinération Prévue</th>
                <td><%= moment(facture.dateIncinerationPrevue).format('DD/MM/YYYY HH:mm') %></td>
            </tr>
            <tr>
                <th>Date de Paiement</th>
                <td><%= moment(facture.datePaiement).format('DD/MM/YYYY') %></td>
            </tr>
        </table>
    </div>

    <div class="facture-section">
        <h3>Famille</h3>
        <table class="facture-table">
            <tr>
                <th>Nom de la Famille</th>
                <td><%= facture.nomFamille %></td>
            </tr>
            <tr>
                <th>Nom du Garant</th>
                <td><%= facture.nomGarrant %></td>
            </tr>
            <tr>
                <th>Prénom du Garant</th>
                <td><%= facture.prenomGarrant %></td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td><%= facture.telephone %></td>
            </tr>
        </table>
    </div>

    <div class="facture-section">
        <h3>Défunt</h3>
        <table class="facture-table">
            <tr>
                <th>Nom</th>
                <td><%= facture.nom %></td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td><%= facture.prenom %></td>
            </tr>
        </table>
    </div>
</div>

<%-include("./composants/footer") %>
