<%-include("./composants/header") %>

    <section style="padding: 16px;">
        <div class="input-container">
            <i class="fa fa-search icon"></i>
            <input class="input-field" type="text" id="myInput" onkeyup="myFunction()" placeholder="Effectuez une recherche...">
        </div>

        <table id="myTable">
            <thead>
                <tr class="header">
                    <th>N°</th>
                    <th>Action effectuée</th>
                    <th>Date heure</th>
                    <th>Utilisateur</th>
                </tr>
            </thead>
            <tbody>
                <% let num = 0; historiques.forEach(historique => { %>
                    <tr>
                        <td><%=num+=1 %></td>
                        <td><%=historique.actionEffectuee %></td>
                        <td style="color: green; font-weight: boldER;"><%=moment(historique.date).format('DD/MM/YYYY | HH:mm') %></td>
                        <td><%=historique.nomComplet %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </section>
        
<%-include("./composants/footer") %>