<%-include("./composants/header") %>

    <section style="padding: 16px;">
        <h2 style="padding-left: 19px;"><b><i class="fa fa-home"></i> Accueil</b></h2>
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa fa-box w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>250</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Total de Trous</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-check-circle w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%=250-trous%></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4><%=trous >=249 ? 'Disponible' : 'Disponibles' %></h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left"><i class="fa fa-times-circle w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%=trous%></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4><%=trous <=1 ? 'Occupée' : 'Occupées' %></h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-orange w3-text-white w3-padding-16">
                    <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%=users%></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4><%=users <=1 ? 'Utilisateur' : 'Utilisateurs' %></h4>
                </div>
            </div>
        </div>
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-pink w3-padding-16">
                    <div class="w3-left"><i class="fa fa-male w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%=hommes %></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4><%=hommes <=1 ? 'Homme' : 'Hommes' %></h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-green w3-padding-16">
                    <div class="w3-left"><i class="fa fa-female w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%=femmes%></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4><%=femmes <=1 ? 'Femme' : 'Femmes' %></h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-brown w3-padding-16">
                    <div class="w3-left"><i class="fa fa-user-tie w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%=adultes%></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4><%=adultes <=1 ? 'Adulte' : 'Adultes' %></h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-purple w3-text-white w3-padding-16">
                    <div class="w3-left"><i class="fa fa-child w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%=mineurs%></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4><%=mineurs <=1 ? 'Mineur' : 'Mineurs' %></h4>
                </div>
            </div>
        </div>

        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third">
                    <h5>Memorium</h5>
                    <img src="assets/images/logo/memoriumLogo.png" style="width:100%" alt="Logo">
                </div>
                <div class="w3-twothird">
                    <h5>Derniers Ajouts</h5>
                    <table class="w3-table w3-striped w3-white">
                        <tr>
                            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                            <td>New record, over 90 views.</td>
                            <td><i>10 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
                            <td>Database error.</td>
                            <td><i>15 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
                            <td>New record, over 40 users.</td>
                            <td><i>17 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
                            <td>New comments.</td>
                            <td><i>25 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
                            <td>Check transactions.</td>
                            <td><i>28 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
                            <td>CPU overload.</td>
                            <td><i>35 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                            <td>New shares.</td>
                            <td><i>39 mins</i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="w3-container">
            <h5>Statistiques en pourcentage</h5>
            <p>Total de trous</p>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-red" style="width:100%">100%</div>
            </div>

            <p>Occupée</p>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-blue" style="width:<%=((trous*100)/250).toFixed(2)%>%"><%=((trous*100)/250).toFixed(2)%>%</div>
            </div>

            <p>Disponible</p>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-teal" style="width:<%=(((250-trous)*100)/250).toFixed(2)%>%"><%=(((250-trous)*100)/250).toFixed(2)%>%</div>
            </div>

            <p>Hommes</p>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-pink" style="width:<%=((hommes*100)/trous).toFixed(2)%>%"><%=((hommes*100)/trous).toFixed(2)%>%</div>
            </div>

            <p>Femmes</p>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-green" style="width:<%=((femmes*100)/trous).toFixed(2)%>%"><%=((femmes*100)/trous).toFixed(2)%>%</div>
            </div>

            <p>Adultes</p>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-brown" style="width:<%=((adultes*100)/trous).toFixed(2)%>%"><%=((adultes*100)/trous).toFixed(2)%>%</div>
            </div>

            <p>Mineurs</p>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-purple" style="width:<%=((mineurs*100)/trous).toFixed(2)%>%"><%=((mineurs*100)/trous).toFixed(2)%>%</div>
            </div>
        </div>
        <hr>
    </section>
<%-include("./composants/footer") %>