<%-include("./composants/header") %>

        <section class="cards-section">
            <div class="input-container">
                <i class="fa fa-search icon"></i>
                <input class="input-field" type="text" id="myInput" onkeyup="myFunction()" placeholder="Effectuez une recherche...">
            </div>
            <% defunts.forEach(defunt => { %>
                <div class="card">
                    <img src="<%=defunt.photo === null ? 'assets/images/logo/memoriumLogo.png' : 'assets/images/imagesDefunts/'+defunt.photo %>" alt="Photo de profil" class="card-image">
                    <h2 class="card-name"><%=defunt.nom %></h2>
                    <h3 class="card-surname"><%=defunt.prenom %></h3>
                    <% if (defunt.statut === 'Inhumation Prevue') { %>
                        <h4 class="card-statut"><%=defunt.statut %></h4>
                    <% } else if (defunt.statut === 'Inhumé') { %>   
                        <h4 class="card-statut" style="color: green;"><%=defunt.statut %></h4>
                    <% } else { %>
                        <h4 class="card-statut" style="color: red;"><%=defunt.statut %></h4>
                    <% } %>
                    <div class="card-buttons">
                        <button class="btn btn-bleu"><i class="fa fa-eye fa-fw"></i></button>
                        <button class="btn btn-rouge"><i class="far fa-trash-alt fa-fw"></i></button>
                    </div>
                </div>
            <% }) %>
        </section>
<%-include("./composants/footer") %>