<%- include('./composants/header') %>

<style>
.notes {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}


.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
</style>

  <section style="padding: 16px;">
    <h2 style="padding-left: 19px;"><b><i class="fa fa-bell"></i> Notes</b></h2>

    <% if (resultatTrous) { %>
      <% if (((resultatTrous * 100) / 250).toFixed(1) >= 90) { %>
        <div class="danger notes">
          <p><strong><i class="fa-solid fa-triangle-exclamation"></i> Attention!</strong> Disponibilité critique des places; <%=((resultatTrous * 100) / 250).toFixed(1)%>% des places restantes</p>
        </div>
      <% } %>
    <% } %>

    <% if (evenements.length > 0) { %>
      <% evenements.forEach(event => { %>
        <div class="warning notes">
          <p><strong><i class="fa-solid fa-triangle-exclamation"></i> Attention</strong> Nous sommes à un mois de l'incinération</p>
          <p>Pensez à contacter la famille: <strong><%= event.famille %></strong> pour le défunt <strong><%= event.prenom %> <%= event.nom %></strong> - <%=moment(event.date).format('DD/MM/YYYY') %></p>
        </div>
      <% }) %>
    <% } else { %>
      <div class="info notes">
        <p><strong><i class="fa-solid fa-circle-info"></i> Info!</strong> Aucune incinération prévue dans un mois.</p>
      </div>
    <% } %>

    <% if (evenementInc.length > 0) { %>
      <% evenementInc.forEach(eventInc => { %>
        <div class="warning notes">
          <p><strong><i class="fa-solid fa-triangle-exclamation"></i> Attention</strong> Incinération prevue</p>
          <p>La famille: <strong><%= eventInc.famille %></strong> doit incinerer le défunt <strong><%= eventInc.prenom %> <%= eventInc.nom %></strong> - <%=moment(eventInc.date).format('DD/MM/YYYY') %></p>
        </div>
      <% }) %>
    <% } else { %>
      <div class="info notes">
        <p><strong><i class="fa-solid fa-circle-info"></i> Info!</strong> Aucune incinération confirmie.</p>
      </div>
    <% } %>
  </section>

<%- include('./composants/footer') %>