<%-include("./composants/header") %>

    <section style="padding: 20px;">
        <h2><b><i class="fa fa-users fa-fw"></i> Gestion des utilisateurs</b></h2>

        <!-- Trigger/Open The Modal -->
        <button id="myBtn" class="btn btn-bleu">Ajouter un utilisateur <i class="fa fa-circle-plus fa-lg"></i></button>

        <!-- The Modal -->
        <%-include('./composants/modalAddUser') %>
        
    </section>
    <section style="padding: 16px;">
        <div class="input-container">
            <i class="fa fa-search icon"></i>
            <input class="input-field" type="text" id="myInput" onkeyup="myFunction()" placeholder="Effectuez une recherche...">
        </div>

        <table id="myTable" class="w3-table w3-striped w3-white">
            <tr class="header">
                <th>N°</th>
                <th>Photo</th>
                <th>Nom complet</th>
                <th>Nom d'utilisateur</th>
                <th>Rôle</th>
                <th>Action</th>
            </tr>
            <% if (users.length === 0) { %>
                <tr>
                    <td colspan="8" style="text-align: center;">Aucun enregistrement disponible</td>
                </tr>
            <% }else{ %>
                <% let num = 0; users.forEach(user => { %>
                    <tr>
                        <td><%=num+=1 %></td>
                        <td><img src="assets/images/user.png" alt="imgUser" style="width: 50px; height: auto;"></td>
                        <td><%=nomComplet %></td>
                        <td><%=userName %></td>
                        <td><%=role %></td>
                        <td> X X</td>
                    </tr>
                <% }) %>
            <% } %>
        </table>
    </section>

<%-include("./composants/footer") %>